{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title> My Biodata </title>
{% endblock meta %}

{% block content %}
<style>
.wrap{
    background-color:rgba(255,255,255,0.7); 
    width: 800px; 
    color:black; 
    margin: 20px auto; 
    padding:15px;
}
</style>
<div class="container ">
<body style="background-color:#f1e0af;">
    <div class="wrap">
        <h1 style = "color: blcak; margin-top: 50px" class="class" align="center">BIODATA DIRI<h1><hr/ align="center"width="25% style="border-top: 3px double #353535;">
<table>
<tr><td rowspan="20" width="50px">
<img SRC="{% static 'halweb.jpeg' %}" width="200px" style="display: block;border-radius:25%;border-color:rgb(110, 110, 110);margin-right:30px" border="2px" ></td></tr>
<tr><td><b>Nama</b></td><td>:</td> <td>Fayza Hanifah</td></tr>
<tr><td><b>NPM</b></td><td>:</td> <td>1906399726</td></tr>
<tr><td><b>Tempat Kuliah</b></td><td>:</td> <td>Universitas Indonesia</td></tr>
<tr><td><b>Angkatan</b></td><td>:</td> <td>2019</td></tr>
<tr><td><b>Hobi</b></td><td>:</td> <td>Photography</td></tr>
<tr><td><b>Deskripsi tentang saya</b></td><td>:</td> <td>An ambivert girl</td></tr>
<tr><td><b>Media Sosial</b></td><td>:</td> <td> ig: fhanifah_</td></tr></table>

<table>
<h3> Riwayat Pendidikan</h3>
<tr><td><b>SD</b></td><td>:</td> <td>SDIT Qurrata A'yun</td></tr>
<tr><td><b>SMP</b></td><td>:</td> <td>SMPN 5 Batusangkar</td></tr>
<tr><td><b>SMA</b></td><td>:</td> <td>SMAN 1 Batusangkar</td></tr></table>
</div>
</body>
</div>

    

{% endblock content %}