{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#444242;">
			<a class="navbar-brand" href="{% url 'main:home' %}#about">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">

				<li class="nav-item active">
				  <a class="nav-link" href="{% url 'main:personal' %}">Personal</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'main:educational' %}">Education</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'main:Organizational' %}">Organizational</a>
                </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:thankyou' %}">Hobby</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:form' %}">Form</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Story1:biodatappw' %}">Biodata</a>
          </li>
          
        </ul>
        </div>
        </nav>
      
{% block content %}
{% endblock content %}     




</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
</html>
