{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome to my Website </title>
{% endblock meta %}

{% block content %}
    <body style="background-color:#cc9c44;"></body>
       
            <div class="container">
                <h1 style = "color: blcak; margin-top: 50px" class="p-3 mb-2 bg-warning text-dark text-center">Educational Backround </h1>
                    <p class="lead text-center"> So there are my educational backround :)</p>
                        <div class="col-md-12">
                
                            <h2>
                                <table>
                                    <tr><td><b>2007-2013</b></td><td>:</td> <td>Qurrata A'yun Elementary School Batusangkar</td></tr>
                                    <tr><td><b>2013-2016</b></td><td>:</td> <td>State Junior High School 5, Batusangkar</td></tr>
                                    <tr><td><b>2016-2019</b></td><td>:</td> <td>State Senior High School 1, Batusangkar</td></tr>
                                    <tr><td><b>2019-now</b></td><td>:</td> <td>University of Indonesia</td></tr></table>
                                </table>
                            </h2>
        
                        </div>


{% endblock content %}