{% extends 'base.html' %}

{% block content %}
<h1 style = "color: blcak; margin-top: 50px" class="p-3 mb-2 bg-warning text-dark text-center">Welcome to My Website</h1>
<form action="savename" method="POST">
    {% csrf_token%}
    <br>Nama Matkul: {{ input_form.namaMatkul }}<br>
    <br>Dosen Pengajar: {{ input_form.dosenPengajar}}<br>
    <br>Jumlah SKS: {{ input_form.jumlahSks}}<br>
    <br>Deskripsi Matkul: {{ input_form.deskripsiMatkul }}<br>
    <br>Semester: {{ input_form.semester }}<br>
    <br>Ruang Kelas: {{ input_form.ruangKelas }}<br>



    <input type="submit" value="Submit">
  </form>
{% endblock %}
<!-- 
namaMatkul = models.CharField(max_length=200)
dosenPengajar= models.CharField(max_length=200)
jumlahSks= models.CharField(max_length=200)
deskripsiMatkul=models.CharField(max_length=200)
semester = models.CharField(max_length=200)
ruangKelas = models.CharField(max_length=200) -->