{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Welcome to my Website </title>

{% endblock meta %}

{% block content %}

    <!-- Button halaman utama -->
    <body style="background-color:#cc9c44;">
    
    <!-- Penutup button halaman utama -->
        <div class="container text-center">
          <h1 style = "color: blcak; margin-top: 50px" class="p-3 mb-2 bg-warning text-dark text-center">Welcome to My Website</h1>
                <img src="{% static 'img/Homee.jpg' %}" alt="" class="img-thumbnail">

                
            </div>
        </div>
    
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="https://www.instagram.com/fhanifah_/">
        <img src="{% static 'img/instagramfix.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Instagram
      </a>
      <a class="navbar-brand" href="mailto:fayzahanifahh@gmail.com">
        <img src="{% static 'img/Gmail.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Email
      </a>
      <a class="navbar-brand" href="https://api.whatsapp.com/send?phone=081371342063">
        <img src="{% static 'img/wa.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Whats App
      </a>
    <!-- </nav>
    <form action="savename" method="POST">
      {% csrf_token%}
      Name : {{ input_form.as_p}}
      <input type="submit" value="Submit>">
    </form>
   -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    </body>
    <!-- Copyright -->
{% endblock content %}
  


        
    
