{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome to my Website </title>
{% endblock meta %}


{% block content %}    
    <body style="background-color:#f1e0af;">
        
        <div class="list-group">
            <!-- {% for instance in object_list %}
            <p>{{instance.id}} - <a href='{{instance.get_absolute_url}}'>{{instance.title}}</a></p>
            {% endfor} -->
            <!-- <a href="1" class="list-group-item list-group-item-action">MPK-Agama</a>
            <a href="2" class="list-group-item list-group-item-action">DASAR-DASAR ARSITEKTUR KOMPUTER</a>
            <a href="3" class="list-group-item list-group-item-action">PEMROGRAMAN & PERANCANGAN WEB</a>
            <a href="4" class="list-group-item list-group-item-action disabled">ADMINISTRASI BISNIS</a>
            <a href="5" class="list-group-item list-group-item-action disabled">PRINSIP-PRINSIP MANAJEMEN</a>
            <a href="6" class="list-group-item list-group-item-action disabled">MATEMATIKA DISKRET</a>
            <a href="7" class="list-group-item list-group-item-action disabled">DASAR-DASAR PEMROGRAMAN 2</a> -->
          </div>
{% endblock content %}