{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome to my Website </title>
{% endblock meta %}


{% block content %}    
    <body style="background-color:#f1e0af;">
        
            <div class="container">
                <h1 style = "color: blcak; margin-top: 50px" class="p-3 mb-2 bg-warning text-dark text-center">Organizational Experience</h1>
                    <p class="lead text-center">I have joined the FUKI organization since early 2020 until now as a MUC staff</p>
                        <div class="text-center">
                            <img src="{% static 'img/fuki.png' %}" class= "img-thumbnail">
        
                        </div>
            </div>
{% endblock content %}



