{% extends 'base.html' %}
{% load static %}

{% block meta %}   
<title>Welcome to my Website </title>
{% endblock meta %}

{% block content %}
    <body style="background-color:#f1e0af;">
        
            <div class="container">
                <h1 style = "color: blcak; margin-top: 50px" style = "color: blcak; margin-top: 50px" class="p-3 mb-2 bg-warning text-dark text-center">Personal Information</h1>
                    <p class="lead text-center">So,this is a bit about my personal information :)</p>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'img/foto.jpeg' %}" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-md-6">
                            
                            <h2>
                            <table>
                            <tbody><tr><td><b>Nama</b></td><td>:</td> <td>Fayza Hanifah</td></tr>
                            <tr><td><b>NPM</b></td><td>:</td> <td>1906399726</td></tr>
                            <tr><td><b>Tempat Kuliah</b></td><td>:</td> <td>Universitas Indonesia</td></tr>
                            <tr><td><b>Angkatan</b></td><td>:</td> <td>2019</td></tr>
                            <tr><td><b>Hobi</b></td><td>:</td> <td>Photography</td></tr>
                            <tr><td><b>Deskripsi tentang saya</b></td><td>:</td> <td>An ambivert girl</td></tr>
                            <tr><td><b>Media Sosial</b></td><td>:</td> <td> ig: fhanifah_</td></tr>
                           </tbody></table></h2>
                        
                        </div>
                    </div>
{% endblock content %}
                 