{% extends 'base.html' %}
{% load static %}

{% block meta %} 
<title>Welcome to my Website </title>
{% endblock meta %}

{% block content %}

    <body style="background-color:#cc9c44;">
        
                <h1 style = "color: blcak; margin-top: 50px" class= "p-3 mb-2 bg-warning text-dark text-center">My Hobby </h1>
                    <p class="lead text-center"> So there are some pict of my capture :)</p>

                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{% static 'img/1.jpeg' %}" alt="" class="img-thumbnail">

                                  </a>  
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'img/2.jpeg' %}" alt="" class="img-thumbnail">

                                  </a>  
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'img/3.jpeg' %}"alt="" class="img-thumbnail">

                                  </a>  
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'img/4.jpeg' %}" alt="" class="img-thumbnail">

                                  </a>  
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'img/5.jpeg' %}" alt="" class="img-thumbnail">

                                  </a>  
                                </div>
                                <div class="col-sm-4">
                                    <img src="{% static 'img/6.jpeg' %}" alt="" class="img-thumbnail">

                                  </a>  
                                </div>
                                
                                
                            </div>

                        
{% endblock content %}
                                    
                                
                            